<section id="platform" class="row bg-white p-5">
  <div class="col-sm-12 col-md-6">
    <div class="platform">
      <div class="sec-title">Access Our Service Anywhere, Anytime</div>
      <div class="pri-title">Available on Multiple Platforms</div>
      <div class="brief-para">
        <ul>
          <li><i class="fa-solid fa-mobile"></i> Mobiles</li>
          <li><i class="fa-solid fa-tablet"></i> Tablets</li>
          <li><i class="fa-solid fa-laptop"></i> Laptops</li>
          <li><i class="fa-solid fa-computer"></i> Desktops</li>
        </ul>
      </div>
      <div class="m-4 text-center">
        <button class="btn-platform">
          <i class="fa-brands fa-figma"></i>
          Design
        </button>
      </div>
    </div>
  </div>
  <div class="d-none d-md-block col-md-6">
    <img
      class="platform-img"
      src="assets/intro/devices.png"
      alt="platform image"
    />
  </div>
</section>
