<section class="d-flex justify-content-center align-items-center">
  
    <form class="form">
      <span class="title">ContactUs!</span>
      <p class="description">Welcome to our Contact Us page! We value your feedback, inquiries, and suggestions, and we are eager to hear from you. Whether you have questions about our products/services, need assistance, want to share your experience with us, or have any other inquiries, this page is the perfect place to get in touch.</p>
      <div class="d-flex flex-column">
        <div class="inputGroup">
          <input type="text" required="" autocomplete="off" >
          <label for="name">Enter Your Email</label>
        
        </div>
        <div class="inputGroup">
          <textarea type="text" required="" autocomplete="off" ></textarea>
          <label for="name">Enter Your Query</label>
        
        </div>
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>

   
</section>
