<section class="m-2">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card card-cover rounded-4 p-3">
        <div class="row">
          <div class="col-8">
            <div class="container-details">
              <p class="text-sm text-uppercase m-0">SomeThing</p>
              <h5 class="fw-bold m-0">50000 </h5>
            </div>
          </div>
          <div class="col-4">
            <img class="icons" src="assets/admin/phone.png" alt="icon">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-cover rounded-4 p-3">
        <div class="row">
          <div class="col-8">
            <div class="container-details">
              <p class="text-sm text-uppercase m-0">SomeThing</p>
              <h5 class="fw-bold m-0">50000 </h5>
            </div>
          </div>
          <div class="col-4">
            <img class="icons" src="assets/admin/phone.png" alt="icon">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-cover rounded-4 p-3">
        <div class="row">
          <div class="col-8">
            <div class="container-details">
              <p class="text-sm text-uppercase m-0">SomeThing</p>
              <h5 class="fw-bold m-0">50000 </h5>
            </div>
          </div>
          <div class="col-4">
            <img class="icons" src="assets/admin/phone.png" alt="icon">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-cover rounded-4 p-3">
        <div class="row">
          <div class="col-8">
            <div class="container-details">
              <p class="text-sm text-uppercase m-0">SomeThing</p>
              <h5 class="fw-bold m-0">50000 </h5>
            </div>
          </div>
          <div class="col-4">
            <img class="icons" src="assets/admin/phone.png" alt="icon">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>

</section>
