<section class="container-fluid main-section">
  <section class="row p-4">
    <div class="col-sm-6 col-md-3">
      <div class="card card-cover card-custom-sm card-user rounded-3 p-3">
        <div class="row">
          <div class="col-8">
            <div class="container-details">
              <p class="card-title m-0" >Users</p>
              <p class="card-count m-0">50000 </p>
            </div>
          </div>
          <div class="col-4">
            <i class="fa-solid fa-user icons"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-cover card-custom-sm card-seller rounded-3 p-3">
        <div class="row">
          <div class="col-8">
            <div class="container-details">
              <p class="card-title m-0">Sellers</p>
              <h5 class="card-count m-0">50000 </h5>
            </div>
          </div>
          <div class="col-4">
            <i class="fa-solid fa-people-line icons" ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-cover card-custom-sm card-revenue rounded-3 p-3">
        <div class="row">
          <div class="col-8">
            <div class="container-details">
              <p class="card-title m-0">Revenue</p>
              <h5 class="card-count m-0">$ 50000</h5>
            </div>
          </div>
          <div class="col-4">
            <i class="fa-solid fa-sack-dollar icons"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-cover card-custom-sm card-month rounded-3 p-3">
        <div class="row">
          <div class="col-8">
            <div class="container-details">
              <p class="card-title m-0">Monthly</p>
              <h5 class="card-count m-0">$ 50000</h5>
            </div>
          </div>
          <div class="col-4">
            <i class="fa-solid fa-coins icons"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row m-2">

      <div class="col-md-6">
        <a class="card card-cover card-custom-lg rounded-3" routerLink="/admin-dashboard/requests">
          <div class="row">
            <div class="col-6">
              <div class="card-container">
                <p class="card-lg-title">
                  Pending Requests
                </p>
                <p class="card-lg-des">View and manage all pending requests in one place.Take quick actions, such as approvals or denials, to keep processes on track. Stay organized and provide timely responses for a seamless user experience.</p>
              </div>
            </div>
            <div class="col-6">
              <img class="card-img" src="assets/admin/mail.png" alt="request">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="card card-cover card-custom-lg rounded-4" routerLink="/admin-dashboard/category">
          <div class="row">
            <div class="col-6">
              <div class="card-container">
                <p class="card-lg-title py-2">
                  Categories
                </p>
                <p class="card-lg-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, adipisci sint soluta est ut culpa? Esse qui delectus quisquam adipisci dolore excepturi hic. Placeat explicabo perferendis eveniet ratione quidem dolor accusamus magni laboriosam cupiditate.</p>
              </div>
            </div>
            <div class="col-6">
              <img class="card-img" src="assets/admin/category.png" alt="category">
            </div>
          </div>
        </a>
      </div>

  </section>

</section>
