.main-section{
  background-color: #ECE7EB;
}
.icons{
  font-size:30px;
  padding: 10px;
}
/* cards */
.card-count{
  color:#fff;
  font-size: 20px;
  font-weight: 500;
}
.card-title{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.card i {
  color:#fff;
}
.card-custom-sm{
  height: 100px;
}
.card-user{
  background-color: #7DA0FA;
}
.card-seller{
  background-color: #57B657;
}
.card-revenue{
  background-color: #44AEE2;
}
.card-month{
  background-color: #6CB2EB;
}
.card-custom-lg{
  height: 300px;
}

.card-lg-title{
  font-size: 30px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}
.card-lg-des{
  color: #000;
  text-align: justify;
}
.card:hover{
  box-shadow: 2px 2px 5px #000;
}
a:hover{
  cursor: pointer;
}
