<header class="bg-white">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a href="/!" class="navbar-brand align-items-center link-body-emphasis text-decoration-none">
        <img  src="assets/pnc.png" alt="logo image" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <a href="/!" class="navbar-brand align-items-center link-body-emphasis text-decoration-none">
            <img  src="assets/pnc.png" alt="logo image" width="50" height="50">
          </a>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Restaurant
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Delivery</a></li>
                <li><a class="dropdown-item" href="#">Fast Food</a></li>
                
                <li><a class="dropdown-item" href="#">Chinese</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Home Services
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Electricians</a></li>
                <li><a class="dropdown-item" href="#">Home Cleaners</a></li>
                
                <li><a class="dropdown-item" href="#">Plumbers</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Automobile Services
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Auto Repair</a></li>
                <li><a class="dropdown-item" href="#">Car Wash</a></li>
                
                <li><a class="dropdown-item" href="#">Parking</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex me-auto mt-1 mt-lg-0" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <ng-container *ngIf="!isLogged">
            <button class="btn btn-outline-danger m-1" routerLink="/login">Login</button>
            <button class="btn btn-outline-danger m-1" routerLink="/signup">Sign up</button>
          </ng-container>
          <ng-container *ngIf="isLogged">
            <div class="container_seller me-auto">
              <button class="btn btn-outline-danger" routerLink="start-business">
                Start Business
              </button>
              <button class="btn btn-outline-danger" routerLink="/admin-dashboard">
                Admin
              </button>
            </div>
            <div class="d-flex flex-end gap-2 mt-2">
              <div class="notifications mt-1">
                <i class="fa-regular fa-bell"></i>
              </div>
              <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img [src]="user.photoUri" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" style="left: unset;right: 0;">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </nav>
</header>
