.nav-link{
  font-family: 'Poppin';
  font-weight: 500;
  font-size:18px;
}
.notifications i{
  font-size:20px;
}
.dropdown-toggle::after{
  content: none;
}
.btn{
  padding: 8px;
  margin: 2px;
  color: black;
  background-color: ghostwhite;
  border-color: black;
  
  

}

