<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor="let friend of friends">
      <div class="col-md-4">
        <div class="friend_container d-flex shadow-sm">
          <img class="friend_avatar" src="assets/pnc.png" alt="friend image">
          <div class="friend_detail">
            <a class="name" routerLink="/userprofile">Spy d.</a>
            <p class="location">Pakistan</p>
            <div class="friend_social d-flex">
              <div class="users mx-1">
                <i class="fa-solid fa-user"></i>
                1000+
              </div>
              <div class="reviews mx-1">
                <i class="fa-solid fa-star"></i>
                32
              </div>
            </div>

          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
