<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor="let friend of friends">
      <div class="col-md-4">
        <a class="friend_container d-flex" routerLink="/userprofile">
          <img class="friend_avatar" src="assets/pnc.png" alt="friend image">
          <div class="friend_detail">
            <h6 class="name" >Spy d.</h6>
            <p class="location">Pakistan</p>
            <div class="friend_social d-flex">
              <div class="users mx-1">
                <i class="fa-solid fa-user"></i>
                1000+
              </div>
              <div class="reviews mx-1">
                <i class="fa-solid fa-star"></i>
                32
              </div>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>
