.friend_container{
  background-color: #fff;
  margin: 12px;
  border: none;
  outline: none;
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: #000;
}
a:hover{
  box-shadow: 0 0 10px 0 #00000026;
}
.friend_avatar{
  width: 69px;
  height: 71px;
}
.name{
  color: #000;
  text-decoration: none;
  font-size:20px;
  font-weight: 700;
}
.location{
  font-size: 13px;
}
.friend_detail p{
  margin-bottom: 0;
}
.users,.reviews{
  font-size:12px;
}
.users i{
  color:#D32323;
}
.reviews i{
  color: #D4AF37;
}
