<section style="background-color: #cdc4f9">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="chat3" style="border-radius: 15px">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <div class="p-3">
                  <div class="input-group rounded mb-3">
                    <input
                      type="search"
                      class="form-control rounded"
                      placeholder="Search"
                      aria-label="Search"
                      aria-describedby="search-addon"
                    />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>
                  <div
                    class="chat-user-list"
                    style="position: relative; height: 400px"
                  >
                    <ul class="list-unstyled mb-0">
                      <ng-container *ngFor="let user of chatList">
                        <li class="p-2 border-bottom">
                          <a
                            (click)="selectUser(user)"
                            class="d-flex justify-content-between"
                            [ngStyle]="{
                              background:
                                selectedUserEmail === user.sendToEmail
                                  ? '#f0f0f0'
                                  : 'none'
                            }"
                          >
                            <div class="d-flex flex-row">
                              <div>
                                <p-avatar
                                  image="{{ user.sendToPic }}"
                                  styleClass="mx-2"
                                  size="large"
                                  shape="circle"
                                ></p-avatar>
                                <!-- <img
                                  src="{{ user.sendToPic }}"
                                  alt="avatar"
                                  class="d-flex align-self-center me-3"
                                  width="60"
                                /> -->
                                <span class="badge bg-success badge-dot"></span>
                              </div>
                              <div class="pt-1">
                                <p class="fw-bold mb-0">
                                  {{ user.sendToName }}
                                </p>
                                <!-- <p class="small text-muted">
                                  Hello, Are you there?
                                </p> -->
                              </div>
                            </div>
                            <!-- <div class="pt-1">
                              <p class="small text-muted mb-1">Just now</p>
                              <span class="badge bg-danger rounded-pill float-end"
                                >3</span
                              >
                            </div> -->
                          </a>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-7 col-xl-8">
                <div
                  class="pt-3 pe-3 messages-box"
                  style="position: relative; height: 400px"
                >
                  <ng-container *ngFor="let message of oldMessages">
                    <div [ngClass]="{
                      'd-flex flex-row': true,
                      'justify-content-start': message.type == 'RECEIVER',
                      'justify-content-end': message.type == 'SENDER'
                    }">
                    <p-avatar
                        image="{{ selectedUserPic }}"
                        styleClass="mx-2"
                        size="large"
                        shape="circle"
                    ></p-avatar>
                    <div>
                        <p
                            class="small p-2 ms-3 mb-1 rounded-3"
                            [ngStyle]="{
                                'background-color': message.type == 'RECEIVER' ? 'blue' : '#f0f0f0',
                                'color': message.type == 'RECEIVER' ? 'white' : 'black'
                            }"
                        >
                            {{message.content}}
                        </p>
                        <p
                            class="small ms-3 mb-3 rounded-3 text-muted float-end"
                        >
                            {{message.Date}} | Aug 13
                        </p>
                    </div>
                </div>

                  </ng-container>
                  <ng-container *ngFor="let message of messages">
                    <div [ngClass]="{
                      'd-flex flex-row': true,
                      'justify-content-start': message.type == 'RECEIVER',
                      'justify-content-end': message.type == 'SENDER'
                    }">
                    <p-avatar
                        image="{{ selectedUserPic }}"
                        styleClass="mx-2"
                        size="large"
                        shape="circle"
                    ></p-avatar>
                    <div>
                        <p
                            class="small p-2 ms-3 mb-1 rounded-3"
                            [ngStyle]="{
                                'background-color': message.type == 'RECEIVER' ? 'blue' : '#f0f0f0',
                                'color': message.type == 'RECEIVER' ? 'white' : 'black'
                            }"
                        >
                            {{message.content}}
                        </p>
                        <p
                            class="small ms-3 mb-3 rounded-3 text-muted float-end"
                        >
                            {{message.Date}} | Aug 13
                        </p>
                    </div>
                </div>

                  </ng-container>
                </div>

                <div
                  class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2"
                >
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                    alt="avatar 3"
                    style="width: 40px; height: 100%"
                  />
                  <textarea
                    type="text"
                    #message
                    cols="1"
                    rows="1"
                    class="form-control form-control-lg"
                    id="exampleFormControlInput2"
                    placeholder="Type message"
                    (keydown.enter)="sendMessage($event, message)"
                  ></textarea>
                  <a class="ms-1 text-muted" href="#!"
                    ><i class="fas fa-paperclip"></i
                  ></a>
                  <a class="ms-3" (click)="sendMessage($event, message)"
                    ><i class="fas fa-paper-plane"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
