.bill-bg{
  background-color: #DC143C;
}
.bill-heading{
  font-size: 18px;
}
.btn-checkout{
  width: 130px;
  height: 50px;
  color:#E00707;
  font-size:1rem;
  font-weight: 700;
  background-color: #fff;
  border:none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}
.btn-checkout:hover{
  background-color: #fff;
  color: #E00707;
  border: 1px solid #E00707;
}
.cart-items{
  height: 340px;
  overflow-y: scroll;
}
