section {
  height: 100%;
}
.heading {
  font-size: 45px;
  color: red;
}
.form_img {
  width: 500px;
  aspect-ratio: 16/9;
}
.map_img {
 position: absolute;
 top:45%;
 right:0;
  width: 300px;
  aspect-ratio: 16/9;
}
.button_group {
  display: flex;
  justify-content: space-between;
}
p {
  font-family: "Times New Roman", Times, serif;
  /* font-weight: 700; */
}
/* .form-select{
  color: rgb(100, 100, 100);
  background-color: transparent;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
} */
.inputGroup,
.document {
  font-family: "Times New Roman", Times, serif;
  margin: 1em 0 1em 0;
  position: relative;
}

.inputGroup input,
.inputGroup select,
.document input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid, select:focus, select:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
}
.document label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
}

/* .inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
} */
.inputGroup :is(input:focus, input:valid),
.inputGroup :is(select:focus, select:valid) {
  border-color: rgb(150, 150, 200);
}

/* cards  */
.requested-img {
  margin: 20% 0 0 0;
  height: 350px;
  aspect-ratio: 16/9;
}

.request-para{
  font-size: 16px;
  font-weight: 500;
}

.waiting-img{
  width: 100%;
}
.btn-home{
  width: fit-content;
  height: 40px;
  color:#fff;
  font-size:1rem;
  font-weight: 500;
  background-color: rgb(224, 7, 7);
  border:none;
  outline: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(224, 7, 7, 0.5);
}
.btn-home:hover{
  background-color: #fff;
  color: #E00707;
  border: 1px solid #E00707;
}

.remarks-list{
  list-style-type: none;
}
