<section id="cards" class="m-5">
  <div class="row mb-4">
    <div class="text-center">
      <h1 class="heading">Categories</h1>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let num of categories">
      <div class="col-md-3 my-2">
        <a
          class="card card-cover h-100 overflow-hidden text-white rounded-5" routerLink="/category-detail"
        >
          <div class="text-center d-flex flex-column m-auto p-3">
            <img src="assets/intro/house.jpg" alt="class icon"  style="border:none; border-radius: 50%;">
            <button class="btn btn-success m-3" > Category-1</button>
          </div>
        </a>
      </div>
    </ng-container>

  </div>

</section>
