<section id="cards" class="m-5">
  <div class="row mb-4">
    <div class="text-center">
      <h1 class="heading">Categories</h1>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let category of categories">
      <div class="col-md-3 my-2">

        <a class="card">
          <div class="bg">
            <div class="text-center d-flex flex-column m-auto p-3">
              <img src="{{category.picture}}" alt="icon"  style="border:none; border-radius: 50%;">
             <br> <p class="title">{{category.categoryName}}</p>
            </div>

          </div>
          <div class="blob"></div>
        </a>


      </div>
    </ng-container>

  </div>

</section>
