<div class="row">
  <div class="col-md-3 m-3">
    <div class="card rounded-4 bg-danger">
      <div class="avatar">
        <p-avatar [image]="user['photoUri']"
      styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      </div>
      <div class="card rounded-4 bg-white text-center p-4">
        <h1 class="m-0">spy dev</h1>
        <h4 class="m-0">address</h4>
        <div class="profile_info d-flex justify-content-center">
          <div class="users mx-2">
            <i class="fa-solid fa-user"></i>
            1000+
          </div>
          <div class="reviews mx-2">
            <i class="fa-solid fa-star"></i>
            32
          </div>
          <div class="posts mx-2">
            <i class="fa-solid fa-camera"></i>
            12
          </div>
        </div>
        <div class="cards d-flex justify-content-between mt-4">
          <a href=""  class="card text-center rounded-4 p-2">
            <img class="card-i-sm mx-auto" src="assets/profile/message.svg" alt="message">
            Message
          </a>
          <a href="" class="card text-center rounded-4 p-2">
            <img class="card-i-sm mx-auto" src="assets/profile/user.svg" alt="user">
            Follow
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 m-3"></div>
</div>
