<section class="margin-top">
    <div class="row bg-light">
      <div class="col d-flex justify-content-evenly container-info">
        <img class="img-fluid user_avatar" src="assets/pnc.png" alt="user profile"  loading="lazy">
        <div class="container-details mt-5">
          <h1 class="user_name">Spy dev</h1>
          <p>From Ghakar Mandi,Pakistan</p>
          <div class="social-list d-flex">
            <div class="users mx-2">
              <i class="fa-solid fa-user"></i>
              1000+ Friends
            </div>
            <div class="reviews mx-2">
              <i class="fa-solid fa-star"></i>
              32 reviews
            </div>
            <div class="posts mx-2">
              <i class="fa-solid fa-camera"></i>
              12
              Posts
            </div>
          </div>
        </div>
        <div class="additional mt-5">
          <ul>
            <li>Add Friends</li>
            <li>Compliments</li>
            <li>Send Message</li>
            <li>Follow</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
    </div>
</section>
