.sticky_top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.user_name {
  font-weight: 900;
  font-size: 30px;
}

.container-info {
  height: 160px;
  position: relative;
}

.user_avatar_mobile {
  width: 163px;
  height: 146px;
}

.user_avatar {
  position: relative;
  bottom: -30px;
  width: 163px;
  height: 146px;
}

.users i {
  color: #D32323;
}

.reviews i {
  color: #D4AF37;
}

.posts i {
  color: #333;
}

li {
  margin: 1px;
}

.nav-link {
  color: #000;
}

.nav-link:active,
.nav-link.active {
  background-color: #D32323;
}

.nav-link:hover {
  background-color: #D32323;
  color: #fff;
}
