<section class="container-fluid">
  <div class="row">
    <h1 class="fw-bold"><i class="fa-solid fa-image my-1"></i>My Posts</h1>
    <ng-container *ngFor="let post of posts">
      <div class="col-12 m-2">
        <div class="card card-cover bg-white rounded-5">
          <div class="row h-100">
            <div class="col-md-6 p-2">
              <img loading="lazy" class="post_image rounded-5" src="assets/intro/house.jpg" alt="post image">
            </div>
            <div class="col-md-6 p-2">
              <h1 class="fw-bold post-title">hello</h1>
              <p class="post-para">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, sed animi. Soluta nobis possimus dolores debitis alias, consectetur vero nesciunt enim. Eligendi, voluptatibus quasi ratione provident obcaecati, consequatur itaque qui totam reiciendis fugiat alias. Debitis consequatur error omnis distinctio hic. Exercitationem totam vel labore laborum minima dolorem deserunt esse quis maxime illo modi molestias voluptatem sunt quasi asperiores minus nihil dolore, odio blanditiis, pariatur iusto voluptates? Architecto labore quibusdam quia!
              </p>
              <p>
                <i class="fa-solid fa-heart my-2"></i> 200
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
