<aside>
  <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="d-flex flex-column bg-white sidebar-height w-100 rounded-4">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="assets/pnc.png" alt="logo" width="50" height="50">
          <span class="sidebar-heading">Dashboard</span>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link" routerLinkActive="active" aria-current="page">
              <img class="icon" src="assets/admin/home.png" alt="icon">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="requests" class="nav-link" routerLinkActive="active" aria-current="page">
              <img class="icon" src="assets/admin/mail.png" alt="icon">
              Requests
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="category" class="nav-link" routerLinkActive="active" aria-current="page">
              <img class="icon" src="assets/admin/category.png" alt="icon">
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-dashboard" class="nav-link" routerLinkActive="active" aria-current="page">
              <i class="fa-solid fa-house"></i>
              Home
            </a>
          </li>

        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</aside>
