
.sidebar-heading{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 20px;
}
.active{
  background-color: #d5eaff;
  color: #000;
}
a{
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}
:is(a,.nav-link):hover,.nav-pills .nav-link.active{
  background-color: #c7e3ff;
  color: #000;
}
.nav-item{
  margin:10px;
}
.icon{
  width: 18px;
  height: 18px;
}
.sidebar-link{
  padding:10px 0px 4px 8px;
}
