aside{
  position: sticky;
  top: 0;
  left:0;
}

.sidebar-heading{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 20px;
}
.active{
  background-color: #d5eaff;
  color: #000;
}
:is(a,.nav-link):hover{
  background-color: #c7e3ff;
  color: #000;
}
