<section id="start-business">
  <div class="row bg">
    <div class="col-md-5 offset-md-1 d-flex align-items-center">
      <div class="card p-4">
        <p class="card-title">It's free to be on PNC</p>
        <ul>
          <li>Boost Your business</li>
          <li>Take business to door steps</li>
        </ul>
        <p class="card-des">Become Seller Now</p>
        <button class="btn-start" routerLink="about-us">
          <i class="fa-regular fa-circle-play"></i>
          Let's go
        </button>
      </div>
    </div>
  </div>
</section>
<section id="start-detail" class="m-4">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <p class="detail-heading">
        PNC for Business provides free and paid advertising solutions for your
        small business
      </p>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-3">
        <a href="/home/about-us" class="card">
          <img
            class="card-img img-fluid"
            src="assets/business/sellers.png"
            alt="sellers"
          />
          <p class="card-title text-center">1000+ Sellers</p>
          <p class="text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia
            qui eveniet porro odio.
          </p>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/home/about-us" class="card">
          <img
            class="card-img img-fluid"
            src="assets/business/users.png"
            alt="sellers"
          />
          <p class="card-title text-center">80% Users</p>
          <p class="text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia
            qui eveniet porro odio.
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4 offset-md-4">
      <p class="connect-heading">
        Yelp makes it easy to connect with new customers and grow your business
      </p>
    </div>

  <div class="row">
    <div class="d-none d-md-block col-md-6">
      <img src="assets/business/social.jpg" alt="social">
    </div>
    <div class="col-sm-12 col-md-6">
      <p class="social-heading">
        Help people get to know you
      </p>
      <p class="social-detail">
        Having a strong presence on Yelp helps you establish trust with potential customers. Manage your page for free or upgrade to stand out from the competition.
      </p>
      <ul >
        <li class="social-list-item">Boost Your business</li>
        <li class="social-list-item">Take business to door steps</li>
      </ul>
    </div>
  </div>

  </div>
</section>
