<section id="tables">
  <p-table
    #dt
    [value]="requests"
    dataKey="requestId"
    [responsive]="true"
    [rowHover]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="[
      'firstName',
      'lastName',
      'email',
      'number',
      'address',
      'businessName',
      'category'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        List of Customers
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target['value'], 'contains')"
            placeholder="Global Search"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="requestId" style="width: 5rem">
          <div class="d-flex flex-row">
            Id
            <p-sortIcon field="requestId"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="requestId"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th style="width: 6rem">
          <div class="d-flex flex-row">Picture</div>
        </th>
        <th pSortableColumn="firstName" style="width: 5rem">
          <div class="d-flex flex-row">
            First Name
            <p-sortIcon field="firstName"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="firstName"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="lastName" style="width: 5rem">
          <div class="d-flex flex-row">
            Last Name
            <p-sortIcon field="lastName"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="lastName"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="businessName" style="width: 5rem">
          <div class="d-flex flex-row">
            Business Name
            <p-sortIcon field="businessName"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="businessName"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="category" style="width: 5rem">
          <div class="d-flex flex-row">
            Category
            <p-sortIcon field="category"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="category"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="number" style="width: 5rem">
          <div class="d-flex flex-row">
            Mobile Number
            <p-sortIcon field="number"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="number"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="email" style="width: 5rem">
          <div class="d-flex flex-row">
            Email
            <p-sortIcon field="email"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="email"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="address" style="width: 5rem">
          <div class="d-flex flex-row">
            Address
            <p-sortIcon field="address"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="address"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="requestedDate" style="width: 5rem">
          <div class="d-flex flex-row">
            Date Requested
            <p-sortIcon field="requestedDate"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="requestedDate"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="isAccepted" style="width: 2rem">
          <div class="d-flex flex-row">
            Status
            <p-sortIcon field="isAccepted"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="isAccepted"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th style="width: 2rem">Document</th>
        <th style="width: 1rem">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-seller>
      <tr class="p-selectable-row">
        <td>{{ seller.requestId }}</td>
        <td><img class="picture" src="{{ seller.picture }}" /></td>
        <td>{{ seller.firstName | uppercase }}</td>
        <td>{{ seller.lastName | uppercase }}</td>
        <td>{{ seller.businessName }}</td>
        <td>{{ seller.category }}</td>
        <td>{{ seller.number }}</td>
        <td>{{ seller.email }}</td>
        <td>{{ seller.address }}</td>
        <td>{{ seller.requestedDate | date : "MM/dd/yyyy" }}</td>
        <td>
          <span class="p-column-title">Status</span
          ><p-tag
            [value]="getValue(seller.accepted)"
            [severity]="getSeverity(seller.accepted)"
          ></p-tag>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="downloadFile(seller.document)">
            <i class="fa-solid fa-file"></i>
          </button>
        </td>
        <td style="text-align: center">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="showRequestDialog(seller)"
          >
            <i class="fa-solid fa-circle-check" style="color: #00ff11"></i>
            Accept
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="Request Details"
    [modal]="true"
    [(visible)]="requestDialog"
    styleClass="w-50"
  >
    <ng-template pTemplate="body">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <img
            class="request-img rounded-5"
            src="{{ selectedSeller?.picture }}"
            alt="seller picture"
          />
        </div>
        <div class="col-md-6">
          <label for="fistName">First Name</label>
          {{ selectedSeller?.firstName }}
        </div>
        <div class="col-md-6">
          <label for="lastName">Last Name</label>
          {{ selectedSeller?.lastName }}
        </div>
        <div class="col-md-6">
          <label for="date">Date Requested</label>
          {{ selectedSeller?.requestedDate }}
        </div>
        <div class="col-md-6">
          <label for="status">Status of Request</label>
          <p-tag
            [value]="getValue(selectedSeller.accepted)"
            [severity]="getSeverity(selectedSeller.accepted)"
          ></p-tag>
        </div>
        <div class="col-sm-6 offset-sm-4">
          <button
            class="btn btn-outline-success mx-2"
            (click)="requestAction()"
          >
            <i class="fas fa-circle-check"></i>
            Accept
          </button>
          <button
            class="btn btn-outline-danger mx-2"
            (click)="showActionDialog((isAccepted = false))"
          >
            <i class="fa-solid fa-circle-xmark"></i>
            Reject
          </button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
  <p-dialog
    header="Rejection Detail"
    [modal]="true"
    [(visible)]="actionDialog"
    styleClass="w-50"
  >
    <ng-template pTemplate="body">
      <div class="mb-3">
        <form [formGroup]="rejectionForm" (ngSubmit)="requestAction()">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Enter the Reason of Rejection</label
          >
          <textarea
            formControlName="rejection"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
          <ng-container
            *ngIf="
              rejectionForm.get('rejection').invalid &&
              rejectionForm.get('rejection').touched
            "
          >
            <div class="text-danger">Please provide Reason</div>
          </ng-container>
          <button
            class="btn btn-outline-success m-2"
            type="submit"
            [disabled]="rejectionForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    </ng-template>
  </p-dialog>
</section>
