@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Nunito:wght@200&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  color: #000;
  background: #E6F0EB;
}

a,.nav-link{
  color:#000;
  text-decoration: none;
}

.margin-top {
  margin-top: 4.3%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.height-full {
  height: 100vh;
}
.heading{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: 700;
}
.sidebar-height{
  height: 88.4vh;
}

/** ng prime componets style overriding */
p-tabview-title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  text-transform: capitalize;

}
.p-tabview .p-tabview-nav,
.p-tabview .p-tabview-nav li .p-tabview-nav-link,
.p-tabview .p-tabview-panels,
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  background: transparent;
  color:#000;
  border-color: #000;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color: #fff;
  background:red;
}
.p-dropdown:not(.p-disabled):hover{
  border: 2px solid rgb(200, 200, 200);
}
.p-dropdown {
  background-color: transparent !important;
}
.p-steps .p-steps-item .p-menuitem-link {
  background: transparent !important;
}
.p-password,.p-inputtext{
  width: 100%;
}
.p-chip {
  height: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

.p-datatable {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
}

.p-datatable .p-datatable-header {
  background: #007437;
  color: #fff;
}

.p-datatable .p-datatable-thead>tr>th {
  background-color: #EAF3EE;
}

.p-button {
  background: #007437;
  border: #007437;
}

.p-button:enabled:hover {
  background: #007437;
  border: #007437;

}

.p-dialog {
  position: fixed;
  top: 8%;
  left: 0;
}

.p-picklist .p-picklist-list .p-picklist-item.p-highlight {
  color: #007437;
}

.p-picklist .p-picklist-header {
  background-color: #007437;
  color: #fff;

}

.p-datatable .p-datatable-thead>tr>th {
  background-color: #EAF3EE;
}
