<head><link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
<div class="row">
  <aside class="col-md-2 bg-white rounded-3 mt-2 mx-2 ">
    <div class="sticky-aside">
      <div class="section_filter">
        <p class="heading_filter">Filters</p>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary py-0">
            <i class="fas fa-dollar-sign"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary py-0">
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary py-0">
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary py-0">
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
          </button>
        </div>
      </div>
      <div class="section_filter d-flex flex-column">
        <p class="heading_filter">Suggested</p>
        <div class="checkbox">
          <input id="checkbox1" class="checkbox__input" type="checkbox">
          <label for="checkbox1" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox4" class="checkbox__input" type="checkbox">
          <label for="checkbox4" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox2" class="checkbox__input" type="checkbox">
          <label for="checkbox2" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox3" class="checkbox__input" type="checkbox">
          <label for="checkbox3" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>

      </div>
      <div class="section_filter d-flex flex-column">
        <p class="heading_filter">Suggested</p>
        <div class="checkbox">
          <input id="checkbox1" class="checkbox__input" type="checkbox">
          <label for="checkbox1" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox4" class="checkbox__input" type="checkbox">
          <label for="checkbox4" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox2" class="checkbox__input" type="checkbox">
          <label for="checkbox2" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox3" class="checkbox__input" type="checkbox">
          <label for="checkbox3" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>

      </div>
      <div class="section_filter d-flex flex-column">
        <p class="heading_filter">Suggested</p>
        <div class="checkbox">
          <input id="checkbox1" class="checkbox__input" type="checkbox">
          <label for="checkbox1" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox4" class="checkbox__input" type="checkbox">
          <label for="checkbox4" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox2" class="checkbox__input" type="checkbox">
          <label for="checkbox2" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox3" class="checkbox__input" type="checkbox">
          <label for="checkbox3" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>

      </div>
    </div>
  </aside>
  <section class="col-md-9 rounded-4 mt-2 mx-5">
    <h1 class="fw-bold centered-heading aesthetic-heading">Category Heading</h1>

    <ng-container *ngFor="let category of categories">
      <a href="!#" class="my-card rounded-5  my-3">
        <div class="row my-2">
          <div class="col-4">
            <div class="card">
              <div class="card-inner">
                <div class="card-front">
                  <img src="assets/pnc.png" alt="Image" class="card-image">
                </div>
                <div class="card-back">
                  <img src="assets/placeholder.png" alt="Image" class="card-image">
                </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <h3 class="item_title aesthetic-heading">Business Name</h3>

            <div class="chip_container">
              <p-chip label="Action" class="mx-2"></p-chip>
              <p-chip label="Action" class="mx-2"></p-chip>
              <p-chip label="Action" class="mx-2"></p-chip>
              <p-chip label="Action" class="mx-2"></p-chip>
              <p-chip label="Action" class="mx-2"></p-chip>
            </div>
            <div class="status_container my-2">
              <p-tag value="Open" severity="success" [rounded]="true"></p-tag>
              Till 10 pm
            </div>
            <div class="detal_container">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque atque autem exercitationem, porro corporis voluptate incidunt saepe. Dolor porro quod architecto quisquam quas. Omnis impedit nisi iste, similique saepe aperiam voluptatem praesentium adipisci culpa assumenda laborum esse hic expedita libero sapiente, possimus veritatis iure fugit?</p>
            </div>
            <div class="add-to-cart">
              <button class="add-to-cart-button">Add to cart</button>
            </div>

          </div>
        </div>
      </a>
    </ng-container>
  </section>
</div>
