<div class="row">
  <aside class="col-md-2 bg-white rounded-3 mt-2 mx-2">
    <div class="section_filter">
      <p class="heading_filter">Filters</p>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary py-0">
          <i class="fas fa-dollar-sign"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary py-0">
          <i class="fas fa-dollar-sign"></i>
          <i class="fas fa-dollar-sign"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary py-0">
          <i class="fas fa-dollar-sign"></i>
          <i class="fas fa-dollar-sign"></i>
          <i class="fas fa-dollar-sign"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary py-0">
          <i class="fas fa-dollar-sign"></i>
          <i class="fas fa-dollar-sign"></i>
          <i class="fas fa-dollar-sign"></i>
          <i class="fas fa-dollar-sign"></i>
        </button>
      </div>
    </div>
    <div class="section_filter d-flex flex-column">
      <p class="heading_filter">Suggested</p>
      <div class="checkbox">
        <input id="checkbox1" class="checkbox__input" type="checkbox">
        <label for="checkbox1" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox4" class="checkbox__input" type="checkbox">
        <label for="checkbox4" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox2" class="checkbox__input" type="checkbox">
        <label for="checkbox2" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox3" class="checkbox__input" type="checkbox">
        <label for="checkbox3" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>

    </div>
    <div class="section_filter d-flex flex-column">
      <p class="heading_filter">Suggested</p>
      <div class="checkbox">
        <input id="checkbox1" class="checkbox__input" type="checkbox">
        <label for="checkbox1" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox4" class="checkbox__input" type="checkbox">
        <label for="checkbox4" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox2" class="checkbox__input" type="checkbox">
        <label for="checkbox2" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox3" class="checkbox__input" type="checkbox">
        <label for="checkbox3" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>

    </div>
    <div class="section_filter d-flex flex-column">
      <p class="heading_filter">Suggested</p>
      <div class="checkbox">
        <input id="checkbox1" class="checkbox__input" type="checkbox">
        <label for="checkbox1" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox4" class="checkbox__input" type="checkbox">
        <label for="checkbox4" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox2" class="checkbox__input" type="checkbox">
        <label for="checkbox2" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>
      <div class="checkbox">
        <input id="checkbox3" class="checkbox__input" type="checkbox">
        <label for="checkbox3" class="checkbox__label">
          <span class="checkbox__custom"></span>
          Uiverse
        </label>
      </div>

    </div>
  </aside>
  <section class="col-md-9 rounded-4 mt-2 mx-5">
    <h1 class="fw-bold">Category Heading</h1>

    <ng-container *ngFor="let category of categories">
      <a href="!#" class="card rounded-5  my-3">
        <div class="row my-2">
          <div class="col-4">
            <img src="assets/intro/house.jpg" class="img-fluid rounded-4 item_image" alt="category detail image">
          </div>
          <div class="col-8">
            <h2 class="item_title">Business Name</h2>

            <div class="chip_container">
              <p-chip label="Action" class="mx-2"></p-chip>
              <p-chip label="Action" class="mx-2"></p-chip>
              <p-chip label="Action" class="mx-2"></p-chip>
              <p-chip label="Action" class="mx-2"></p-chip>
              <p-chip label="Action" class="mx-2"></p-chip>
            </div>
            <div class="status_container my-2">
              <p-tag value="Open" severity="success" [rounded]="true"></p-tag>
              Till 10 pm
            </div>
            <div class="detal_container">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque atque autem exercitationem, porro corporis voluptate incidunt saepe. Dolor porro quod architecto quisquam quas. Omnis impedit nisi iste, similique saepe aperiam voluptatem praesentium adipisci culpa assumenda laborum esse hic expedita libero sapiente, possimus veritatis iure fugit?</p>
            </div>

          </div>
        </div>
      </a>
    </ng-container>
  </section>
</div>
