<div class="row">
  <div class="col-md-2 bg-white rounded-3">
    <aside class="sticky-aside">
      <div class="filter">
        <!-- <div class="section_filter">
          <p class="heading_filter">Refine Your Search</p>
          <div class="checkbox">
            <input id="restaurantsCheckbox" class="checkbox__input" type="checkbox">
            <label for="restaurantsCheckbox" class="checkbox__label">
              <span class="checkbox__custom"></span>
              Restaurants
            </label>
          </div>
          <div class="checkbox">
            <input id="cafesCheckbox" class="checkbox__input" type="checkbox">
            <label for="cafesCheckbox" class="checkbox__label">
              <span class="checkbox__custom"></span>
              Cafes
            </label>
          </div>
          <div class="checkbox">
            <input id="barsCheckbox" class="checkbox__input" type="checkbox">
            <label for="barsCheckbox" class="checkbox__label">
              <span class="checkbox__custom"></span>
              Bars
            </label>
          </div>
          <div class="checkbox">
            <input id="deliveryCheckbox" class="checkbox__input" type="checkbox">
            <label for="deliveryCheckbox" class="checkbox__label">
              <span class="checkbox__custom"></span>
              Delivery
            </label>

          </div>
          <button id="applyFiltersButton" class="apply-filters-button">Apply Filters</button>
        </div> -->

        <p class="heading_filter">Filters</p>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary py-0">
            <i class="fas fa-dollar-sign"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary py-0">
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary py-0">
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary py-0">
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-dollar-sign"></i>
          </button>
        </div>
      </div>
      <div class="section_filter d-flex flex-column">
        <p class="heading_filter">Suggested</p>
        <div class="checkbox">
          <input id="checkbox1" class="checkbox__input" type="checkbox" />
          <label for="checkbox1" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox4" class="checkbox__input" type="checkbox" />
          <label for="checkbox4" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox2" class="checkbox__input" type="checkbox" />
          <label for="checkbox2" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox3" class="checkbox__input" type="checkbox" />
          <label for="checkbox3" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
      </div>
      <div class="section_filter d-flex flex-column">
        <p class="heading_filter">Suggested</p>
        <div class="checkbox">
          <input id="checkbox1" class="checkbox__input" type="checkbox" />
          <label for="checkbox1" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox4" class="checkbox__input" type="checkbox" />
          <label for="checkbox4" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox2" class="checkbox__input" type="checkbox" />
          <label for="checkbox2" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox3" class="checkbox__input" type="checkbox" />
          <label for="checkbox3" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
      </div>
      <div class="section_filter d-flex flex-column">
        <p class="heading_filter">Suggested</p>
        <div class="checkbox">
          <input id="checkbox1" class="checkbox__input" type="checkbox" />
          <label for="checkbox1" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox4" class="checkbox__input" type="checkbox" />
          <label for="checkbox4" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox2" class="checkbox__input" type="checkbox" />
          <label for="checkbox2" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
        <div class="checkbox">
          <input id="checkbox3" class="checkbox__input" type="checkbox" />
          <label for="checkbox3" class="checkbox__label">
            <span class="checkbox__custom"></span>
            Uiverse
          </label>
        </div>
      </div>
    </aside>
  </div>

  <section class="col-md-9 rounded-4 mt-2 mx-5">
    <div class="row centered-heading aesthetic-heading">
      <div class="col-sm-3">
        <img src="assets/shop/shop.png" width="200" alt="shop">
      </div>
      <div class="col-sm-9">
        <h1 class="fw-bold text-center p-5">{{heading}}</h1>
      </div>
    </div>

    <ng-container *ngFor="let product of products">
      <a  class="my-card rounded-5 my-3">
        <div class="row my-2">
          <div class="col-4">
            <div class="card">
              <div class="card-inner">
                <div class="card-front">
                  <img src="{{product?.images[0]}}" alt="Image" class="card-image" />
                </div>
                <div class="card-back">
                  <img
                    src="{{product?.images[1]}}"
                    alt="Image"
                    class="card-image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <h3 class="item_title">{{product?.name}}</h3>
            <div class="container d-flex justify-content-between my-2">
              <p-tag value="{{product.inventoryStatus}}" [severity]="getSeverity(product.inventoryStatus)" [rounded]="true"></p-tag>
              <p-rating
              [(ngModel)]="product.rating"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
            <p> Rs {{product.price}}</p>
            </div>
            <div class="detal_container">
              <p>
               {{product?.description}}
              </p>
            </div>
              <button class="btn-cart" (click)="addToCart(product)">
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
          </div>
        </div>
      </a>
      <hr>
    </ng-container>
  </section>
</div>
