.btn-new{
  width: 100px;
  height: 50px;
  color:#fff;
  font-size:1.4rem;
  font-weight: 700;
  background-color: rgb(224, 7, 7);
  border:none;
  outline: none;
  box-shadow: 10px 10px 5px rgba(224, 7, 7, 0.5);
}
.btn-new:hover{
  background-color: #fff;
  color: #E00707;
  border: 1px solid #E00707;
}
:host ::ng-deep .p-fluid .p-fileupload .p-button {
  width: 98px;
}
:host ::ng-deep  .p-fileupload .p-fileupload-row > div {
  font-size: 13px;
  padding: 0;
}
